<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UsgbcTest">
    
  <test name="USGBC">
    <parameter name="browserName"  value="firefox"/>
    <parameter name="environment"  value="staging"/>
    <parameter name="rowNum" value="2"/>
 
    <parameter name="SignInSheet" value="SignIn"/>
    <parameter name="PaymentSheet" value="Payment"/>
    <parameter name="DonationSheet" value="Donation"/>
    <parameter name="SponsorshipSheet" value="Sponsorship"></parameter>
    <parameter name="ExamRegistrationSheet" value="ExamRegistration"/>
    <parameter name="memberSheet" value="MembershipContact"></parameter>
	<parameter name="Storesheet" value = "Store"/>
    <parameter name="sponsorSheet" value="Sponsorship"></parameter>
    <parameter name="communitySheet" value="CommunityRegistration"/>
    <parameter name="donationSheet" value="Donation"/>

    <classes>  
     
  	<!--   <class name="com.dynamicUsgbc.testcases.MembershipRegistration"/> -->
  	   <!-- <class name="com.dynamicUsgbc.testcases.MembershipEditVerify"/> -->
      		<!-- <class name ="com.dynamicUsgbc.testcases.ExamRegistration"/> -->
			 <class name ="com.dynamicUsgbc.testcases.Store"/> 
		<!-- <class name ="com.dynamicUsgbc.testcases.ProductRegistration"/> -->
		<!-- <class name ="com.dynamicUsgbc.testcases.Sponsorship"/> -->
	 <!-- <class name ="com.dynamicUsgbc.testcases.CommunityRegistration"/>  -->
	 <!-- <class name ="com.dynamicUsgbc.testcases.CommunityEditVerify"/> -->
		<!-- <class name ="com.dynamicUsgbc.testcases.DonationGreenApple"/> -->
		<!-- <class name ="com.dynamicUsgbc.testcases.DonationHaiti"/> -->
		<!-- <class name ="com.dynamicUsgbc.testcases.DonationGreenCouncil"/> -->
		

    </classes>
	</test> 
  
 
  
</suite>
